<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section>
        <div class="manager_page">
            <header class="header">
                <div class="container">
                    <div class="headerFlex">
                        <h1>TASK TRACKER</h1>

                        <div class="headerButtons">
                            <a type="button" id="createTaskButton" class="btnStyle" href="/createtask">Create Task</a>
                            <a type="button" id="checkStatusButton" class="btnStyle" href="/checkStatus">Check Status</a>
                            <a type="button" id="logoutButton" class="btnStyle" href="/user/logout">Logout</a>

                        </div>
                    </div>

                </div>
            </header>
            <h4 class="role">User: <%= username %></h4>
            <h4 class="role">Role: <%= userRole %> </h4>
            <!-- username -->

            <div>
                <div class="taskCards">
                    <% if (task.length> 0) { %>

                        <% task.forEach(task=> { %>
                            <div class="taskCard">
                                <h4>
                                    <%= task.title %>
                                </h4>
                                <p><strong>Due Date:</strong>
                                    <%= new Date(task.date).toLocaleDateString() %>
                                </p>
                                <p><strong>Status:</strong>
                                    <%= task.status %>
                                </p>
                                <p><strong>Assigned To:</strong>
                                    <%= task.assignedTo.username %>
                                </p>
                                <p><strong>Assigned By:</strong>
                                    <%= task.createdBy ? task.createdBy.username : 'Unknown' %>
                                </p>

                                <a href="/updateTask/<%= task._id %>" class="btnStyle">Update Task</a>
                            </div>
                            <% }); %>

                                <% } else { %>
                                    <p>No tasks available.</p>
                                    <% } %>
                </div>
            </div>
    </section>
</body>

</html>