<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Task</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <h2>Task TRACKER</h1>
        </div>
        <a href="/manager">Home</a>
    </div>

    <div class="update_task_form">
        <h1>Update Task</h1>

        <form id="taskForm">
            <input type="hidden" id="taskId" value="<%= task._id %>" />

            <div>
                <label for="title">Title:</label>
                <input type="text" id="taskTitle" name="taskname" value="<%= task.title %>" required>
            </div>
            <div>
                <label for="description">Description:</label>
                <input type="text" id="taskDescription" name="description" value="<%= task.description %>" required>
            </div>
            <div>
                <label for="date">Due Date:</label>
                <input type="date" id="date" name="taskdate"
                    value="<%= new Date(task.date).toISOString().split('T')[0] %>" required>
            </div>
            <div>
                <label for="assignTo">Assign To:</label>
                <select id="assignTo" name="assignTo" required>
                    <% users.forEach(user=> { %>
                        <option value="<%= user._id %>" <%=assignedUserId &&
                            assignedUserId.toString()===user._id.toString() ? 'selected' : '' %>>
                            <%= user.username %>
                        </option>
                        <% }) %>
                </select>


            </div>
            <div>
                <label for="status">Status:</label>
                <select id="status" name="taskStatus" required>
                    <option value="To-Do" <%=task.status==='To-Do' ? 'selected' : '' %>>To-Do</option>
                    <option value="Pending" <%=task.status==='Pending' ? 'selected' : '' %>>Pending</option>
                    <option value="Completed" <%=task.status==='Completed' ? 'selected' : '' %>>Completed</option>
                </select>
            </div>
            <div class="updateBtns">
                <button type="submit" class="editTaskButton" data-task-id="<%= task._id %>">Save Changes</button>
                <button type="submit" class="deleteTaskButton" data-task-id="<%= task._id %>">Delete</button>
            </div>
        </form>

    </div>


    <script src="/js/script.js"></script>

</body>

</html>